@use "../../sassVars" as *;

.solutions {
  padding: var(--sec-padding);
  .description {
    padding: 15px;
    .title {
      font-weight: 600;
      color: white;
      line-height: 1.8;
      margin-bottom: 40px;
    }
    .desc {
      color: var(--text-color);
      font-weight: lighter;
      max-width: 450px;
      margin-bottom: 30px;
    }
    .started {
      text-decoration: none;
      color: black;
      @include main-grad;

      padding: 10px 15px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
  }
}
