.opinions {
  padding: var(--sec-padding);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 400px;
    height: 500px;
    right: -200px;
    z-index: -1;
    background: linear-gradient(90deg, #1a2980 0%, #26d0ce 100%);
    filter: blur(325px);
    @supports (-moz-appearance: none) {
      opacity: 0.3;
      width: 600px;
    }
  }
  .head {
    .title {
      font-weight: 600;
      color: white;
      line-height: 1.6;
    }
    .paragraph {
      display: flex;
      align-items: center;
      .desc {
        color: var(--text-color);
        font-weight: lighter;
      }
    }
  }
  .body {
    margin-top: 80px;
  }
}
