body {
  background-color: #00040f;
  position: relative;
  overflow-x: hidden;
}

.App {
  overflow-x: hidden;
}

.companies {
  padding: 0 0 80px;
}
.companies .photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.companies .photo img {
  width: 120px;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
nav .navbar-brand {
  width: 100px;
}
nav .navbar-brand img {
  width: 100%;
}
nav .navbar-toggler {
  box-shadow: none !important;
  border: none !important;
}
nav .navbar-toggler:focus {
  border: none !important;
  outline: none !important;
}
nav .navbar-nav {
  flex: 1;
  justify-content: flex-end;
}
nav .navbar-nav .nav-item {
  padding: 15px 20px;
}
nav .navbar-nav .nav-item a {
  color: white;
  padding: 0;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}
nav .navbar-nav .nav-item a:hover, nav .navbar-nav .nav-item a:focus {
  color: var(--main-cyan);
}

.try-bar {
  padding: 40px 0;
}
.try-bar .bar {
  background: linear-gradient(185deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .try-bar .bar {
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    text-align: center;
  }
}
.try-bar .bar .text .title {
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
}
.try-bar .bar .text .desc {
  margin: 0;
  color: var(--text-color);
  line-height: 1.6;
  font-weight: lighter;
}
@media (max-width: 768px) {
  .try-bar .bar .text .desc {
    margin-bottom: 30px;
  }
}
.try-bar .bar .started {
  text-decoration: none;
  color: black;
  background: linear-gradient(157.81deg, #def9fa -43.27%, #bef3f5 -21.24%, #9dedf0 12.19%, #7de7eb 29.82%, #5ce1e6 51.94%, #33bbcf 90.29%);
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.opinion-card {
  padding: 40px 30px;
  border-radius: 20px;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.opinion-card .opinion .icon {
  font-size: 2rem;
  color: rgba(0, 217, 245, 0.6);
  margin-bottom: 40px;
}
.opinion-card .opinion .text {
  color: white;
  max-width: 300px;
  margin-bottom: 40px;
}
.opinion-card .author {
  display: flex;
  align-items: center;
}
.opinion-card .author .photo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.opinion-card .author .photo img {
  width: 100%;
}
.opinion-card .author .details .name {
  margin-bottom: 3px;
  color: white;
}
.opinion-card .author .details .job {
  margin: 0;
  color: var(--text-color);
  font-weight: lighter;
}
.opinion-card:hover {
  background: linear-gradient(110.53deg, #ffffff -265.46%, #14101d 96.75%);
  box-shadow: 4px 6px 30px rgba(19, 36, 46, 0.25);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.opinion-card:hover .icon {
  color: rgba(0, 217, 245, 0.8);
}

.probabilities {
  padding: var(--sec-padding);
}
.probabilities .static {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
@media (max-width: 991px) {
  .probabilities .static {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .probabilities .static {
    justify-content: flex-start;
    margin: 15px;
  }
}
.probabilities .number {
  margin: 0;
  color: white;
  font-weight: 600;
}
.probabilities .type {
  margin: 0;
  font-size: 18px;
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #def9fa 0.89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 15px;
}
@media (max-width: 991px) {
  .probabilities {
    margin-top: 320px;
  }
}
@media (max-width: 768px) {
  .probabilities {
    margin-top: 140px;
  }
}

.featureFs {
  padding: var(--sec-padding);
}
.featureFs .main-desc {
  padding: 30px;
}
.featureFs .main-desc .title {
  font-weight: 600;
  color: white;
  line-height: 1.8;
  margin-bottom: 30px;
}
.featureFs .main-desc .desc {
  color: var(--text-color);
  font-weight: lighter;
  margin-bottom: 80px;
}
.featureFs .main-desc .started {
  color: black;
  background: linear-gradient(157.81deg, #def9fa -43.27%, #bef3f5 -21.24%, #9dedf0 12.19%, #7de7eb 29.82%, #5ce1e6 51.94%, #33bbcf 90.29%);
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.featureFs .main-desc .started:hover {
  border: 1px solid var(--main-cyan);
  color: var(--main-cyan);
  background: transparent !important;
}
.featureFs .features {
  padding: 40px;
}
.featureFs .features .feature {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 10px 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
@media (max-width: 768px) {
  .featureFs .features .feature {
    flex-direction: column;
    text-align: center;
  }
}
.featureFs .features .feature:hover {
  background-image: linear-gradient(153.47deg, rgba(255, 255, 255, 0.5) -341.94%, #14101d 95.11%);
}
.featureFs .features .feature .icon {
  color: var(--main-cyan);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(0, 247, 255, 0.1);
  margin: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.featureFs .features .feature .feat-desc .title {
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}
.featureFs .features .feature .feat-desc .desc {
  color: var(--text-color);
  line-height: 1.6;
  font-weight: lighter;
}

.featureSc {
  padding: var(--sec-padding);
  position: relative;
}
.featureSc::before {
  content: "";
  position: absolute;
  width: 400px;
  top: -200px;
  left: -150px;
  height: 1200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: blur(250px);
  -webkit-filter: blur(250px);
  z-index: -1;
  background: linear-gradient(180deg, rgba(188, 165, 255, 0.7) 70%, #214d76 30%);
}
@supports (-moz-appearance: none) {
  .featureSc::before {
    opacity: 0.4;
  }
}
.featureSc .cards {
  position: relative;
  padding: 15px;
}
.featureSc .cards .card-paypal {
  padding: 15px;
  position: relative;
  top: 0;
  right: -60%;
  width: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: linear-gradient(110.53deg, #ffffff -265.46%, #14101d 96.75%);
  box-shadow: 4px 6px 30px rgba(19, 36, 46, 0.25);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.featureSc .cards .card-paypal .paypal {
  display: flex;
}
.featureSc .cards .card-paypal .paypal .logo {
  margin-right: 10px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: white;
}
.featureSc .cards .card-paypal .paypal .logo img {
  width: 100%;
}
@media (max-width: 768px) {
  .featureSc .cards .card-paypal .paypal .logo {
    padding: 7px;
    width: 40px;
    height: 40px;
  }
}
.featureSc .cards .card-paypal .paypal .name h4 {
  color: white;
  font-weight: 600;
  margin-bottom: 5px;
}
.featureSc .cards .card-paypal .paypal .name p {
  color: var(--text-color);
}
.featureSc .cards .card-paypal .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featureSc .cards .card-paypal .total .price p {
  color: var(--text-color);
  margin-bottom: 5px;
}
.featureSc .cards .card-paypal .total .price h5 {
  color: white;
}
.featureSc .cards .card-paypal .total .button {
  padding: 5px 10px;
  font-weight: lighter;
  color: var(--main-cyan);
  border: 1px solid var(--main-cyan);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.featureSc .cards .card-paypal .button-grad {
  margin: 10px 0 0 0;
  padding: 5px;
  width: 100%;
  text-align: center;
  color: black;
  background: linear-gradient(157.81deg, #def9fa -43.27%, #bef3f5 -21.24%, #9dedf0 12.19%, #7de7eb 29.82%, #5ce1e6 51.94%, #33bbcf 90.29%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@media (max-width: 768px) {
  .featureSc .cards .card-paypal {
    width: 60%;
    right: -100px;
    font-size: 0.7rem;
  }
}
.featureSc .cards .transactions {
  position: relative;
  width: 80%;
  left: 0;
  top: -70px;
  background: linear-gradient(110.53deg, #ffffff -265.46%, #14101d 96.75%);
  box-shadow: 4px 6px 30px rgba(19, 36, 46, 0.25);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 20px;
  z-index: -1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.featureSc .cards .transactions .title {
  font-weight: 500;
  color: white;
  margin-bottom: 35px;
}
.featureSc .cards .transactions .transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.featureSc .cards .transactions .transaction .company {
  display: flex;
}
.featureSc .cards .transactions .transaction .company .logo {
  background-color: white;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.featureSc .cards .transactions .transaction .company .details .name {
  color: white;
  margin-bottom: 5px;
}
.featureSc .cards .transactions .transaction .company .details .date {
  color: var(--text-color);
}
.featureSc .cards .transactions .transaction .value {
  display: flex;
  align-items: center;
}
.featureSc .cards .transactions .transaction .value .down {
  color: #bb2d2d;
}
.featureSc .cards .transactions .transaction .value .up {
  color: var(--main-cyan);
}
.featureSc .cards .transactions .transaction .value .price {
  color: white;
}
@media (max-width: 768px) {
  .featureSc .cards .transactions {
    width: 100%;
    top: -20px;
    font-size: 0.7rem;
  }
}
.featureSc .cards .payment-success {
  position: absolute;
  bottom: 70px;
  right: 30px;
  background-color: white;
  padding: 10px;
  display: flex;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.featureSc .cards .payment-success .icon {
  color: #00ae1c;
  margin-right: 10px;
}
.featureSc .cards .payment-success p {
  margin: 0;
}
@media (max-width: 768px) {
  .featureSc .cards .payment-success {
    font-size: 0.8rem;
    font-weight: normal;
    bottom: 20px;
    right: -5px;
  }
}
.featureSc .details {
  display: flex;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.featureSc .details .title {
  color: white;
  font-weight: 600;
  margin-bottom: 40px;
  line-height: 1.6;
}
.featureSc .details .desc {
  color: var(--text-color);
  line-height: 1.6;
  margin-bottom: 40px;
  font-weight: lighter;
}
.featureSc .details .stores a:nth-child(1) {
  margin: 0 20px 30px 0;
}
.featureSc .details .stores a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.landing {
  padding-bottom: 80px;
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  z-index: -1;
  filter: blur(200px);
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-filter: blur(200px);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (max-width: 768px) {
  .landing::before {
    width: 200px;
    height: 200px;
  }
}
@supports (-moz-appearance: none) {
  .landing::before {
    opacity: 0.5;
  }
}
.landing .container .row > div:nth-child(1) {
  margin: 80px 0;
}
.landing .container .row > div:nth-child(1) .discount {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  color: var(--text-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.landing .container .row > div:nth-child(1) .discount .icon {
  color: var(--main-cyan);
  margin-right: 10px;
}
.landing .container .row > div:nth-child(1) .discount p {
  font-weight: lighter;
  font-size: 14px;
  margin: 0;
}
.landing .container .row > div:nth-child(1) .discount p span {
  color: white;
  font-weight: 500;
}
.landing .container .row > div:nth-child(1) .main-desc {
  margin-top: 30px;
  position: relative;
}
.landing .container .row > div:nth-child(1) .main-desc .title h1 {
  color: white;
  font-weight: 700;
  font-size: 4.5rem;
}
@media (max-width: 768px) {
  .landing .container .row > div:nth-child(1) .main-desc .title h1 {
    font-size: 3.5rem;
  }
}
.landing .container .row > div:nth-child(1) .main-desc .title .grad {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #def9fa 0.89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.landing .container .row > div:nth-child(1) .main-desc .started {
  position: absolute;
  top: -10px;
  right: 0;
  padding: 30px 25px;
  border-radius: 50%;
  color: var(--main-cyan);
  border: 1px solid var(--main-cyan);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 768px) {
  .landing .container .row > div:nth-child(1) .main-desc .started {
    display: none;
  }
}
.landing .container .row > div:nth-child(1) .main-desc .started p {
  margin: 0;
}
.landing .container .row > div:nth-child(1) .main-desc .started p .icon {
  color: white;
  font-weight: bold;
}
.landing .container .row > div:nth-child(1) .main-desc .desc {
  color: var(--text-color);
  margin-top: 40px;
  font-size: 18px;
  max-width: 500px;
  font-weight: lighter;
  line-height: 1.6;
}
.landing .container .row .imagination {
  padding: 40px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.landing .container .row .imagination .balls div {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #def9fa 0.89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.landing .container .row .imagination .balls .ball1 {
  width: 80px;
  height: 80px;
  top: 20px;
  left: 50px;
}
.landing .container .row .imagination .balls .ball2 {
  width: 55px;
  height: 55px;
  bottom: 70px;
  right: 40px;
}
.landing .container .row .imagination .balls .ball3 {
  width: 40px;
  height: 40px;
  left: 90px;
  bottom: 0;
}
.landing .container .row .imagination::before {
  content: "";
  transform: rotate(180deg);
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: -4;
  filter: blur(65px);
  background: linear-gradient(180deg, rgba(188, 165, 255, 0.7) 0%, #214d76 70%);
  -webkit-filter: blur(150px);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
@media (max-width) {
  .landing .container .row .imagination::before {
    width: 100%;
  }
}
.landing .container .row .imagination .card-detail {
  width: 300px;
  margin-right: 0;
  height: 400px;
  text-align: center;
}
.landing .container .row .imagination .card-detail img {
  width: 100%;
}
.landing .container .row .imagination .card-detail .card-2 {
  position: relative;
  z-index: -1;
  top: -70px;
}
.landing .container .row .imagination .card-detail .card-3 {
  position: relative;
  z-index: -2;
  top: -140px;
}
@media (max-width: 991px) {
  .landing .container .row .imagination .card-detail {
    width: 400px;
  }
}
@media (max-width: 768px) {
  .landing .container .row .imagination .card-detail {
    width: 250px;
    height: 300px;
  }
}
.landing .hand {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  right: 0;
}
@media (max-width: 991px) {
  .landing .hand {
    bottom: -370px;
    width: 80%;
  }
}
@media (max-width: 768px) {
  .landing .hand {
    width: 80%;
    bottom: -180px;
  }
}
.landing .hand img {
  width: 100%;
  position: relative;
  top: -30px;
}
.landing::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 400px;
  top: -30px;
  right: -30px;
  z-index: -6;
  filter: blur(170px);
  background-color: rgb(255, 255, 255);
  -webkit-filter: blur(170px);
}
@supports (-moz-appearance: none) {
  .landing::after {
    opacity: 0.4;
  }
}
@media (max-width: 768px) {
  .landing::after {
    display: none;
  }
}

.opinions {
  padding: var(--sec-padding);
  position: relative;
}
.opinions::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 400px;
  height: 500px;
  right: -200px;
  z-index: -1;
  background: linear-gradient(90deg, #1a2980 0%, #26d0ce 100%);
  filter: blur(325px);
}
@supports (-moz-appearance: none) {
  .opinions::before {
    opacity: 0.3;
    width: 600px;
  }
}
.opinions .head .title {
  font-weight: 600;
  color: white;
  line-height: 1.6;
}
.opinions .head .paragraph {
  display: flex;
  align-items: center;
}
.opinions .head .paragraph .desc {
  color: var(--text-color);
  font-weight: lighter;
}
.opinions .body {
  margin-top: 80px;
}

.solutions {
  padding: var(--sec-padding);
}
.solutions .description {
  padding: 15px;
}
.solutions .description .title {
  font-weight: 600;
  color: white;
  line-height: 1.8;
  margin-bottom: 40px;
}
.solutions .description .desc {
  color: var(--text-color);
  font-weight: lighter;
  max-width: 450px;
  margin-bottom: 30px;
}
.solutions .description .started {
  text-decoration: none;
  color: black;
  background: linear-gradient(157.81deg, #def9fa -43.27%, #bef3f5 -21.24%, #9dedf0 12.19%, #7de7eb 29.82%, #5ce1e6 51.94%, #33bbcf 90.29%);
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.solutions .cards {
  position: relative;
  padding: 0 2rem;
  margin: 40px 0;
}
@media (max-width: 1220px) {
  .solutions .cards {
    font-size: 0.6em;
  }
}
@media (max-width: 768px) {
  .solutions .cards {
    font-size: 0.5em;
  }
}
@media (max-width: 991px) {
  .solutions .cards .content {
    padding-left: 20%;
  }
}
@media (max-width: 768px) {
  .solutions .cards .content {
    padding: 5px;
  }
}
.solutions .cards .content .circles-back {
  align-items: center;
  position: absolute;
}
@media (max-width: 768px) {
  .solutions .cards .content .circles-back {
    left: 0;
  }
}
.solutions .cards .content .circles-back [class*=circle] {
  border: solid var(--main-cyan);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.solutions .cards .content .circles-back .circle1 {
  opacity: 0.2;
  width: 400px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  transform: translateX(10%);
  -webkit-transform: translateX(10%);
  -moz-transform: translateX(10%);
  -ms-transform: translateX(10%);
  -o-transform: translateX(10%);
  border-width: 10px;
}
@media (max-width: 768px) {
  .solutions .cards .content .circles-back .circle1 {
    width: 280px;
    height: 280px;
  }
}
.solutions .cards .content .circles-back .circle2 {
  width: 300px;
  height: 300px;
  border-width: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .solutions .cards .content .circles-back .circle2 {
    width: 220px;
    height: 220px;
  }
}
.solutions .cards .content .circles-back .circle3 {
  width: 150px;
  height: 150px;
  border-width: 4px;
}
@media (max-width: 768px) {
  .solutions .cards .content .circles-back .circle3 {
    width: 110px;
    height: 110px;
  }
}
.solutions .cards .content [class*=card] {
  background: linear-gradient(110.53deg, #ffffff -265.46%, #14101d 96.75%);
  box-shadow: 4px 6px 30px rgba(19, 36, 46, 0.25);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
@media (max-width: 768px) {
  .solutions .cards .content [class*=card] {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
}
.solutions .cards .content .scan-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  position: relative;
  left: -30px;
  top: 90px;
}
@media (max-width: 768px) {
  .solutions .cards .content .scan-card {
    padding: 15px;
  }
}
.solutions .cards .content .scan-card .icon {
  color: var(--main-cyan);
  background-color: black;
  padding: 2px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.solutions .cards .content .scan-card h5 {
  font-weight: 600px;
  margin: 20px 0;
  color: white;
}
@media (max-width: 1220px) {
  .solutions .cards .content .scan-card h5 {
    font-size: 1rem;
    margin: 10px 0;
  }
}
@media (max-width: 768px) {
  .solutions .cards .content .scan-card h5 {
    font-size: 0.6rem;
  }
}
.solutions .cards .content .scan-card p {
  font-weight: lighter;
  color: var(--text-color);
  margin: 0;
}
.solutions .cards .content .analysis-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: -140px;
  right: -240px;
}
@media (max-width: 1220px) {
  .solutions .cards .content .analysis-card {
    right: -180px;
  }
}
@media (max-width: 768px) {
  .solutions .cards .content .analysis-card {
    right: -115px;
    width: 70%;
    top: -100px;
  }
}
.solutions .cards .content .analysis-card .head {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .solutions .cards .content .analysis-card .head {
    margin-bottom: 0;
  }
}
.solutions .cards .content .analysis-card .head .title {
  font-weight: 600;
}
@media (max-width: 1220px) {
  .solutions .cards .content .analysis-card .head .title {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .solutions .cards .content .analysis-card .head .title {
    font-size: 0.7rem;
  }
}
.solutions .cards .content .analysis-card .head .date {
  font-weight: lighter;
}
.solutions .cards .content .analysis-card .statistics .numbers {
  display: flex;
  justify-content: space-between;
}
.solutions .cards .content .analysis-card .statistics .numbers h6 {
  margin-bottom: 3px;
}
@media (max-width: 1220px) {
  .solutions .cards .content .analysis-card .statistics .numbers h6 {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .solutions .cards .content .analysis-card .statistics .numbers h6 {
    font-size: 0.6rem;
  }
}
.solutions .cards .content .analysis-card .statistics .numbers p {
  font-weight: lighter;
  opacity: 0.7;
}
.solutions .cards .content .analysis-card .statistics .numbers .income {
  color: #00d2aa;
}
.solutions .cards .content .analysis-card .statistics .numbers .expenses {
  color: #00d9f5;
}
.solutions .cards .content .analysis-card .statistics .graph {
  width: 100%;
  display: flex;
  justify-content: center;
}
.solutions .cards .content .analysis-card .statistics .graph img {
  width: 100%;
}
.solutions .cards .content .analysis-card .statistics .months {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: lighter;
  color: var(--text-color);
  font-weight: lighter;
}
.solutions .cards .content .analysis-card .statistics .months P {
  margin: 25px 5px 0;
}
.solutions .cards .content .analysis-card .statistics .months P.active {
  background-color: var(--main-cyan);
  color: black;
  padding: 3px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  font-weight: normal;
}
@media (max-width: 768px) {
  .solutions .cards .content .analysis-card .statistics .months P {
    margin: 15px 0 0;
  }
}
.solutions .cards .content .method-card {
  padding: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  bottom: 0;
  left: 20%;
}
@media (max-width: 991px) {
  .solutions .cards .content .method-card {
    left: 35%;
    bottom: -5%;
  }
}
@media (max-width: 768px) {
  .solutions .cards .content .method-card {
    left: 20%;
    bottom: -5%;
  }
}
.solutions .cards .content .method-card .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 20px;
}
.solutions .cards .content .method-card .head h5 {
  margin: 0;
}
@media (max-width: 1220px) {
  .solutions .cards .content .method-card .head h5 {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .solutions .cards .content .method-card .head h5 {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .solutions .cards .content .method-card .head {
    margin-bottom: 10px;
  }
}
.solutions .cards .content .method-card .logos {
  display: flex;
}
.solutions .cards .content .method-card .logos .logo {
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.solutions .cards .content .method-card .logos .logo img {
  width: 100%;
}
.solutions .cards .content .method-card .logos .logo.shopify {
  padding: 0;
}
@media (max-width: 768px) {
  .solutions .cards .content .method-card .logos .logo {
    width: 30px;
    height: 30px;
    padding: 6px;
  }
}/*# sourceMappingURL=App.css.map */